.start,
.start *,
.start :after,
.start :before,
.start:after,
.start:before {
  border: 0 solid;
  box-sizing: border-box;
}
.start {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  margin-right: 100px;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.start:disabled {
  cursor: default;
}
.start:-moz-focusring {
  outline: auto;
}
.start svg {
  display: block;
  vertical-align: middle;
}
.start [hidden] {
  display: none;
}
.start {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.start span {
  mix-blend-mode: difference;
}
.start:before {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transform: skew(0deg) translateX(-20%);
  transition: transform 0.2s ease;
  width: 120%;
}
.start:hover:before {
  transform: skew(45deg) translateX(75%);
}

.stop,
.stop *,
.stop :after,
.stop :before,
.stop:after,
.stop:before {
  border: 0 solid;
  box-sizing: border-box;
}
.stop {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  margin-left: 100px;
  line-height: 1.5;
  margin: 0;

  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.stop:disabled {
  cursor: default;
}
.stop:-moz-focusring {
  outline: auto;
}
.stop svg {
  display: block;
  vertical-align: middle;
}
.stop [hidden] {
  display: none;
}
.stop {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.stop span {
  mix-blend-mode: difference;
}
.stop:before {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transform: skew(0deg) translateX(-20%);
  transition: transform 0.2s ease;
  width: 120%;
}
.stop:hover:before {
  transform: skew(45deg) translateX(75%);
}
